<div id="navbar" class="clearfix">
  <ul class="top-links pull-right">
    <li>
      <a href="#"><i class="fa fa-bell"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-envelope"></i></a>
    </li>
    <li class="profile clearfix">
      <div class="btn-group" dropdown>
        <div dropdownToggle>
          <div class="avatar pull-left" style="background-image: url('assets/images/avt.jpg');">
          </div>
          <div class="info pull-left">
            <span><b>Chuong Tran</b></span>
            <br>
            <span>chuong14011991@gmail.com</span>
          </div>
        </div>
        <ul dropdownMenu>
          <li>
            <a class="dropdown-item" href="#">
              <i class="fa fa-user"></i>
              &nbsp;&nbsp;
              Account
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="fa fa-sign-out"></i>
              &nbsp;&nbsp;
              Sign out</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>